* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

main {
    min-height: 60vh;
}

img {
    max-width: 600px;
    height: auto;
}

h1,
h2,
h3 {
    font-family: "Roboto Slab", serif;
}

p,
a {
    font-family: "Fira Sans", sans-serif;
}

.site-header {
    width: 100%;
    height: 145px;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.site-title {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    background-color: #5c7883b4;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;

    min-width: 50%;
    /* height: 20%; */
    text-align: center;
}

.navbar {
    ul {
        display: flex;
        justify-content: center;

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #5c7883;
    }

    li a {
        letter-spacing: 1px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #385e6d;
    }
}

footer {
    background-color: #385e6d;
    color: #f2f8fa;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.4fr;
}

.footer-left {
    display: flex;
    grid-column: 1 / 2;
    flex-direction: column;

    h3 {
        border-bottom: 1px solid white;
        margin: 1rem;
    }

    p {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.footer-right {
    display: flex;
    grid-column: 3 / span 4;
    flex-direction: column;

    h3 {
        border-bottom: 1px solid white;
        margin: 1rem;
    }

    a {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: #bacfd8;
    }
}

.footer-bottom {
    grid-column: 1 / span 4;
    grid-row: 3 / 3;

    background-size: contain;
}

.api-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 1rem;
        border-bottom: 1px solid #385e6d;
        width: 100%;
        text-align: center;
        padding: 0.3rem;
    }
}

.api-links h2 {
    padding-bottom: 0.4rem;
    text-align: center;
}

.api-links ol {
    text-align: center;
    list-style-type: decimal;
}