{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="home-page">
        <div class="home-text">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quos autem, odio amet veritatis sint nihil modi ea tempore tenetur quibusdam pariatur, asperiores recusandae quae nam omnis reiciendis vel! Culpa.</p>
        </div>
        <div class="home-image">
            <img src="{{ asset('img/moomin-icon.png') }}" alt="moomin in a scarf">
        </div>
    </main>
{% endblock %}