{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="home-page">
        <div class="home-text">
            <h1>About me</h1>
            <p>
                Hi my name is Sumaiyyah, and I live in a tiny town in Sweden called Borlänge. I recently turned 26, in March and I'm excited
                to be here. Life has not been easy and I also just moved into a bigger and better apartment with one of the best natural lighting
                to ever exist. In a way, I kind of feel like Moomin when spring comes. Therefore, the theme for this website is going to be Moomin related.
            </p>
        </div>
        <div class="home-image">
            <img src="{{ asset('img/moomin-icon.png') }}" alt="moomin in a scarf">
        </div>
    </main>
{% endblock %}